In [ ]:
import pandas as pd

In [ ]:
url1 = "https://s3.amazonaws.com/tripdata/201901-citibike-tripdata.csv.zip"
df_201901 = pd.read_csv(url1, compression = 'zip')
df_201901.dropna(axis=0, inplace=True)

In [ ]:

df_201902 = pd.read_csv("201902-citibike-tripdata.csv")
df_201902.dropna(axis=0, inplace=True)

In [ ]:
url3 = "https://s3.amazonaws.com/tripdata/201903-citibike-tripdata.csv.zip"
df_201903 = pd.read_csv(url3, compression = 'zip')
df_201903.dropna(axis=0, inplace=True)

In [ ]:
url4 = "https://s3.amazonaws.com/tripdata/201904-citibike-tripdata.csv.zip"
df_201904 = pd.read_csv(url4, compression = 'zip')
df_201904.dropna(axis=0, inplace=True)

In [ ]:
url5 = "https://s3.amazonaws.com/tripdata/201905-citibike-tripdata.csv.zip"
df_201905 = pd.read_csv(url5, compression = 'zip')
df_201905.dropna(axis=0, inplace=True)

In [ ]:
url6 = "https://s3.amazonaws.com/tripdata/201906-citibike-tripdata.csv.zip"
df_201906 = pd.read_csv(url6, compression = 'zip')
df_201906.dropna(axis=0, inplace=True)

In [ ]:
url7 = "https://s3.amazonaws.com/tripdata/201907-citibike-tripdata.csv.zip"
df_201907 = pd.read_csv(url7, compression = 'zip')
df_201907.dropna(axis=0, inplace=True)

In [ ]:
url8 = "https://s3.amazonaws.com/tripdata/201908-citibike-tripdata.csv.zip"
df_201908 = pd.read_csv(url8, compression = 'zip')
df_201908.dropna(axis=0, inplace=True)

In [ ]:
url9 = "https://s3.amazonaws.com/tripdata/201909-citibike-tripdata.csv.zip"
df_201909 = pd.read_csv(url9, compression = 'zip')
df_201909.dropna(axis=0, inplace=True)

In [ ]:
url10 = "https://s3.amazonaws.com/tripdata/201910-citibike-tripdata.csv.zip"
df_201910 = pd.read_csv(url10, compression = 'zip')
df_201910.dropna(axis=0, inplace=True)

In [ ]:
url11 = "https://s3.amazonaws.com/tripdata/201911-citibike-tripdata.csv.zip"
df_201911 = pd.read_csv(url11, compression = 'zip')
df_201911.dropna(axis=0, inplace=True)

In [ ]:
url12="https://s3.amazonaws.com/tripdata/201912-citibike-tripdata.csv.zip"
df_201912=pd.read_csv(url12, compression = 'zip')

In [ ]:
#merge dfs but exclude December
df_2019 = pd.concat([df_201901.sample(frac = .2, axis = 0),df_201902.sample(frac = .2, axis = 0),df_201903.sample(frac = .2, axis = 0),df_201904.sample(frac = .2, axis = 0),df_201905.sample(frac = .2, axis = 0),df_201906.sample(frac = .2, axis = 0),df_201907.sample(frac = .2, axis = 0), df_201908.sample(frac = .2, axis = 0),df_201909.sample(frac = .2, axis = 0),df_201910.sample(frac = .2, axis = 0), df_201911.sample(frac = .2, axis = 0)], axis =0)
df_2019.reset_index(drop= True,inplace= True)

In [ ]:
df_2019.drop(["bikeid", "tripduration"], axis = 1, inplace = True)
df_2019

                        starttime                  stoptime  ...  birth year gender
0        2019-01-29 12:35:04.2830  2019-01-29 12:38:33.6850  ...        1991      1
1        2019-01-27 17:08:05.7640  2019-01-27 17:30:52.4580  ...        1993      2
2        2019-01-11 06:07:08.9600  2019-01-11 06:32:13.0730  ...        1965      1
3        2019-01-17 09:46:29.9800  2019-01-17 10:12:21.4590  ...        1981      1
4        2019-01-26 10:28:33.7480  2019-01-26 10:45:58.9020  ...        1981      2
...                           ...                       ...  ...         ...    ...
3919258  2019-11-01 17:01:05.4480  2019-11-01 18:24:04.6770  ...        1988      1
3919259  2019-11-01 22:40:01.2310  2019-11-01 23:06:46.4750  ...        1989      1
3919260  2019-11-05 07:34:25.4600  2019-11-05 07:38:04.6030  ...        1977      1
3919261  2019-11-14 15:08:29.0720  2019-11-14 15:19:11.1740  ...        1980      1
3919262  2019-11-30 16:56:33.9020  2019-11-30 17:08:20.6540  ...        1994      2

[3919263 rows x 13 columns]

In [ ]:
df_2019.nunique()

starttime                  3918767
stoptime                   3918807
start station id               919
start station name             919
start station latitude         923
start station longitude        923
end station id                 928
end station name               929
end station latitude           932
end station longitude          932
usertype                         2
birth year                     113
gender                           3
dtype: int64

In [ ]:
df_2019.to_csv("2019all.csv")