In [21]:
import pandas as pd
from zipfile import ZipFile

In [31]:

with ZipFile("202111-citibike-tripdata.csv.zip") as myzip:
    data11 = myzip.open("202111-citibike-tripdata.csv")

#Now, we can read in the data
df_202111 = pd.read_csv(data11)
df_202111.dropna(axis=0, inplace=True)

df_202111

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        0DBFF175AB2D1400  classic_bike  ... -73.934410        member
1        E517144EC294D9B2  classic_bike  ... -73.965903        member
2        804CB0449AA9069A  classic_bike  ... -74.001702        member
3        F9D60BADA7A904BE  classic_bike  ... -73.965903        member
4        754C65A6491712FC  classic_bike  ... -73.979827        member
...                   ...           ...  ...        ...           ...
2159278  CB8D3D342AA19DC4  classic_bike  ... -73.971888        member
2159279  FD8D6C2F7B0CDD1D  classic_bike  ... -73.935775        member
2159280  BC617E3C8AC54DDF  classic_bike  ... -73.979820        casual
2159281  B8BC1258A4031057  classic_bike  ... -73.971888        member
2159282  BE37202A0B7B36B2  classic_bike  ... -73.994651        member

[2151486 rows x 13 columns]

In [32]:

with ZipFile("202110-citibike-tripdata.csv.zip") as myzip:
    data10 = myzip.open("202110-citibike-tripdata.csv")

#Now, we can read in the data
df_202110 = pd.read_csv(data10)
df_202110.dropna(axis=0, inplace=True)

df_202110

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        353AEA9949A68D49  classic_bike  ... -74.006667        casual
1        4E99F036F7FE3B62  classic_bike  ... -73.979827        casual
2        2CE9D0504402418A  classic_bike  ... -74.006667        casual
3        354BB2C25D2FE2DB  classic_bike  ... -74.001702        casual
4        0211ADD9F91AC315  classic_bike  ... -73.979827        casual
...                   ...           ...  ...        ...           ...
3069234  2105A371F0916AF6  classic_bike  ... -74.002381        member
3069235  3EE01D46D6630901  classic_bike  ... -74.002381        member
3069236  5CA072FFC3C97825  classic_bike  ... -73.991160        member
3069237  7CEB5F9904D96DFB  classic_bike  ... -74.005141        member
3069238  5F3820B36473D307  classic_bike  ... -74.002381        member

[3057707 rows x 13 columns]

In [ ]:
df_202110.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [34]:

with ZipFile("202109-citibike-tripdata.csv.zip") as myzip:
    data9 = myzip.open("202109-citibike-tripdata.csv")

#Now, we can read in the data
df_202109 = pd.read_csv(data9)
df_202109.dropna(axis=0, inplace=True)

df_202109

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        22C33F42C6A0E28E  classic_bike  ... -73.965930        member
2        9C43CF6A07DACBC6  classic_bike  ... -73.987167        casual
3        253A1A5B20CC78EE  classic_bike  ... -73.974515        member
4        5E8F164D6798CEFA  classic_bike  ... -73.987167        member
5        0702265BE26C21F3  classic_bike  ... -74.004386        member
...                   ...           ...  ...        ...           ...
3280216  8A1C8DB4249BF100  classic_bike  ... -73.982666        casual
3280217  C290EE73DF58AD79  classic_bike  ... -73.962644        casual
3280218  E42F8B93C4168658  classic_bike  ... -73.984706        casual
3280219  7221F0C58026A827  classic_bike  ... -73.984706        member
3280220  689F3FAE372C013C  classic_bike  ... -73.982666        member

[3264870 rows x 13 columns]

In [33]:

with ZipFile("202108-citibike-tripdata.csv.zip") as myzip:
    data8 = myzip.open("202108-citibike-tripdata.csv")

#Now, we can read in the data
df_202108 = pd.read_csv(data8)
df_202108.dropna(axis=0, inplace=True)

df_202108

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        FB6B89D05B67EBED  classic_bike  ... -73.955613        member
1        E13DA3E30CEF8DFC  classic_bike  ... -73.981095        member
2        56617490AB8AE69C  classic_bike  ... -73.957721        member
3        CA908B271C7D6663  classic_bike  ... -73.957721        casual
4        3E170CE1F4FE179D  classic_bike  ... -73.957721        casual
...                   ...           ...  ...        ...           ...
3072473  98DFC8061B88EC01  classic_bike  ... -73.983776        member
3072474  FF421A26C387DA70  classic_bike  ... -73.960708        member
3072475  3F255853B973D4CE  classic_bike  ... -73.962950        casual
3072476  2DD0EA88A42EE3A8  classic_bike  ... -74.000271        casual
3072477  2F6FDF9D53935229  classic_bike  ... -73.935150        member

[3058850 rows x 13 columns]

In [30]:
with ZipFile("202107-citibike-tripdata.csv.zip") as myzip:
    data7 = myzip.open("202107-citibike-tripdata.csv")

#Now, we can read in the data
df_202107 = pd.read_csv(data7)
df_202107.dropna(axis=0, inplace=True)

df_202107

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        247BA541A9674BF3  classic_bike  ... -73.954692        member
1        125C9ACA270A5E2D  classic_bike  ... -73.955959        member
2        2E26264BCC15BA05  classic_bike  ... -73.952840        member
3        A56D23A088563424  classic_bike  ... -73.964274        casual
4        1451F4BB884C5335  classic_bike  ... -74.005664        casual
...                   ...           ...  ...        ...           ...
3084532  70330CE2E6FF7873  classic_bike  ... -73.992390        casual
3084533  5F986BABD3470AC0  classic_bike  ... -74.014847        casual
3084534  88946134552A99EC  classic_bike  ... -73.965369        casual
3084535  5AA6219AC31E068E  classic_bike  ... -73.989111        member
3084536  EC44170EDF0CDA03  classic_bike  ... -73.968087        member

[3070612 rows x 13 columns]

In [29]:

with ZipFile("202106-citibike-tripdata.csv.zip") as myzip:
    data6 = myzip.open("202106-citibike-tripdata.csv")

#Now, we can read in the data
df_202106 = pd.read_csv(data6)
df_202106.dropna(axis=0, inplace=True)

df_202106

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        6339C86D47EC0FAB   docked_bike  ... -73.968453        member
1        CDE3C147775B4002   docked_bike  ... -73.977688        member
2        D335C3F6B412B846   docked_bike  ... -73.992390        member
3        8DA6810777C89735   docked_bike  ... -73.960940        member
4        62D9B66A3A1D9FDF   docked_bike  ... -74.000040        member
...                   ...           ...  ...        ...           ...
3177512  5CCF02508D6C4209  classic_bike  ... -73.951878        casual
3177513  C4D61E2B06185BC1  classic_bike  ... -74.000040        member
3177514  B58C37145FC92C4B  classic_bike  ... -73.963115        casual
3177515  C166DBE51A54FDAE  classic_bike  ... -73.993934        member
3177516  DB56BB2AE0570263   docked_bike  ... -74.000040        member

[3167192 rows x 13 columns]

In [28]:

with ZipFile("202105-citibike-tripdata.csv.zip") as myzip:
    data5 = myzip.open("202105-citibike-tripdata.csv")

#Now, we can read in the data
df_202105 = pd.read_csv(data5)
df_202105.dropna(axis=0, inplace=True)

df_202105

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        E12103A91226099A   docked_bike  ... -73.953517        member
1        26A3DC47FE0EA3A3   docked_bike  ... -73.983688        member
2        A99F2E1D627B088F   docked_bike  ... -73.939863        member
3        43E79A45997B7390   docked_bike  ... -73.939863        member
4        8B3CC649F4F58816   docked_bike  ... -73.939863        member
...                   ...           ...  ...        ...           ...
2724160  766BB4E17F05DBB4   docked_bike  ... -74.008316        member
2724161  3A74372C4A83AF31   docked_bike  ... -74.008316        member
2724162  8FF3997F7C47E8FA   docked_bike  ... -73.989900        member
2724163  FFB1C29E91CC7253   docked_bike  ... -73.916050        member
2724164  5B85F1B45289EF30   docked_bike  ... -73.967597        casual

[2718594 rows x 13 columns]

In [27]:
with ZipFile("202104-citibike-tripdata.csv.zip") as myzip:
    data4 = myzip.open("202104-citibike-tripdata.csv")

#Now, we can read in the data
df_202104 = pd.read_csv(data4)
df_202104.dropna(axis=0, inplace=True)

df_202104

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        7099F9531C9DA16D   docked_bike  ... -73.981540        member
1        EDC6F1B1A69A7863   docked_bike  ... -73.979820        member
2        431A76830E10408A   docked_bike  ... -73.979820        member
3        C00248A0ADC009FA   docked_bike  ... -73.954435        casual
4        BE78810D746EE516   docked_bike  ... -73.942300        casual
...                   ...           ...  ...        ...           ...
2067664  DE4F31703A6FBD72   docked_bike  ... -73.999496        casual
2067665  391040FC8CAF2601   docked_bike  ... -73.965269        member
2067666  1DB5175D0F873C53   docked_bike  ... -73.965269        member
2067667  3004043A978641B3   docked_bike  ... -73.997178        member
2067668  E74E90176B0527D8   docked_bike  ... -74.003676        casual

[2064277 rows x 13 columns]

In [26]:

with ZipFile("202103-citibike-tripdata.csv.zip") as myzip:
    data3 = myzip.open("202103-citibike-tripdata.csv")

#Now, we can read in the data
df_202103 = pd.read_csv(data3)
df_202103.dropna(axis=0, inplace=True)

df_202103

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  ride_id rideable_type  ...    end_lng member_casual
0        4D69477D59E576ED   docked_bike  ... -73.926241        member
1        7F563DA4AC198E0A   docked_bike  ... -73.948213        member
2        C5E0F4FEDA9C2F86   docked_bike  ... -73.917256        member
3        61B726C1884DB04C   docked_bike  ... -74.009106        member
4        7807BB9281BCFD8D   docked_bike  ... -74.009106        member
...                   ...           ...  ...        ...           ...
1531089  B6627FFBA8DDC3F1   docked_bike  ... -73.954510        member
1531090  D5138F2C68DC6AC2   docked_bike  ... -73.954510        member
1531091  02C368DF00ABFF15   docked_bike  ... -73.954510        member
1531092  DD57BC2F3A6CF619   docked_bike  ... -73.954510        member
1531093  B60411FB742A2EA6   docked_bike  ... -73.954510        casual

[1527893 rows x 13 columns]

In [24]:

with ZipFile("202102-citibike-tripdata.csv.zip") as myzip:
    data2 = myzip.open("202102-citibike-tripdata.csv")

#Now, we can read in the data
df_202102 = pd.read_csv(data2)
df_202102.dropna(axis=0, inplace=True)

df_202102

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                 ride_id rideable_type  ...    end_lng member_casual
0       BBA33D73DECE976F   docked_bike  ... -73.955778        casual
1       B63D7AFF9AC5B6D4   docked_bike  ... -73.983043        member
2       52B829195C469D99   docked_bike  ... -73.955769        casual
3       19C84ECA2B468476   docked_bike  ... -73.983043        member
4       C0DDB771E70D9DF5   docked_bike  ... -73.983390        member
...                  ...           ...  ...        ...           ...
649978  84DA58E73B2DF079   docked_bike  ... -73.920950        member
649979  3A14299B4F7FA1CF   docked_bike  ... -73.974987        member
649980  7B86EE3DC7E026BC   docked_bike  ... -73.928070        casual
649981  D665B8623FC01285   docked_bike  ... -73.928070        casual
649982  08A07BB378B0FE2F   docked_bike  ... -73.991421        member

[648651 rows x 13 columns]

In [23]:
with ZipFile("202101-citibike-tripdata.csv.zip") as myzip:
    data = myzip.open("202101-citibike-tripdata.csv")

#Now, we can read in the data
df_202101 = pd.read_csv(data)
df_202101.dropna(axis=0, inplace=True)

df_202101

         tripduration                 starttime  ... birth year  gender
0                2513  2021-01-01 00:00:11.9020  ...       1969       0
1                2519  2021-01-01 00:00:15.0960  ...       1969       0
2                1207  2021-01-01 00:00:28.9300  ...       2002       1
3                2506  2021-01-01 00:00:32.7130  ...       2002       1
4                 959  2021-01-01 00:00:35.3650  ...       2002       1
...               ...                       ...  ...        ...     ...
1095341           569  2021-01-31 23:54:00.3610  ...       1958       1
1095342          1439  2021-01-31 23:55:50.4170  ...       1988       1
1095343          2619  2021-01-31 23:56:14.9540  ...       1985       1
1095344            83  2021-01-31 23:59:19.8260  ...       1969       1
1095345          1313  2021-01-31 23:59:40.4440  ...       1990       1

[1095346 rows x 15 columns]

In [25]:
df_202101.drop(["bikeid","tripduration"], axis =1, inplace = True)

In [35]:
df_2021 = pd.concat(
    [df_202111.sample(frac = .2, axis = 0), df_202110.sample(frac = .2, axis = 0),df_202109.sample(frac = .2, axis = 0), df_202108.sample(frac = .2, axis = 0),df_202107.sample(frac = .2, axis = 0),df_202106.sample(frac = .2, axis = 0),df_202105.sample(frac = .2, axis = 0),df_202104.sample(frac = .2, axis = 0),df_202103.sample(frac = .2, axis = 0),df_202102.sample(frac = .2, axis = 0)], axis = 0)

df_2021 = df_2021.rename(columns = {'started_at':'starttime','ended_at':'stoptime', 'start_station_name':'start station name',"start_station_id":"start station id",
                          "end_station_name":"end station name", "end_station_id":"end station id","start_lat":"start station latitude", "start_lng":"start station longitude","end_lat":"end station latitude", "end_lng":"end station longitude", "member_casual": "usertype"})
df_2021.drop('ride_id', axis = 1, inplace = True)

In [36]:

df_2021 = pd.concat([df_2021, df_202101.sample(frac = .2, axis = 0)], axis =0)
df_2021.reset_index(drop= True,inplace= True)

In [37]:
df_2021

        rideable_type                 starttime  ... birth year gender
0        classic_bike       2021-11-10 15:38:14  ...        NaN    NaN
1        classic_bike       2021-11-15 10:54:48  ...        NaN    NaN
2        classic_bike       2021-11-01 16:14:40  ...        NaN    NaN
3        classic_bike       2021-11-04 23:36:44  ...        NaN    NaN
4        classic_bike       2021-11-18 17:13:42  ...        NaN    NaN
...               ...                       ...  ...        ...    ...
5165089           NaN  2021-01-27 07:25:32.6760  ...     1996.0    1.0
5165090           NaN  2021-01-28 16:16:42.5720  ...     1953.0    1.0
5165091           NaN  2021-01-09 22:33:12.9900  ...     1974.0    1.0
5165092           NaN  2021-01-25 17:59:50.5870  ...     1983.0    1.0
5165093           NaN  2021-01-11 11:28:07.1530  ...     1984.0    1.0

[5165094 rows x 14 columns]

In [38]:
df_2021.to_csv("2021all.csv")